.stylish {
    max-width: 1920px;
  background-image: url("src/assets/img/backgroun_img_2_1.png");
  padding-top: 60px;
  padding-bottom: 40px;
}
.stylish h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
}
.stylish hr {
  width: 64px;
  border-color: white;
  margin: 35px auto;
}
.stylish p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 57px;
}
.stylish button {
  background-color: transparent;
  color: white;
  border-color: white;
  width: 135px;
  height: 42px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
